USE [QLPK]
GO
/****** Object:  UserDefinedFunction [dbo].[f_TinhTienThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Hàm tính tổng tiền thuốc của một Phiếu khám bệnh (Scalar Function)
CREATE FUNCTION [dbo].[f_TinhTienThuoc] (@maPKB INT)
RETURNS FLOAT
AS
BEGIN
    DECLARE @TongTien FLOAT;
    
    SELECT @TongTien = SUM(th.donGia * ctdt.soLuong)
    FROM ToaThuoc tt
    JOIN ChiTietDonThuoc ctdt ON tt.maToaThuoc = ctdt.maToaThuoc
    JOIN Thuoc th ON ctdt.maThuoc = th.maThuoc
    WHERE tt.maPKB = @maPKB;
    
    RETURN ISNULL(@TongTien, 0);
END;
GO
/****** Object:  Table [dbo].[ToaThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToaThuoc](
	[maToaThuoc] [int] IDENTITY(1,1) NOT NULL,
	[ngayKeToa] [date] NULL,
	[maPKB] [int] NULL,
 CONSTRAINT [pk_ToaThuoc] PRIMARY KEY CLUSTERED 
(
	[maToaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonThuoc](
	[maThuoc] [int] NOT NULL,
	[maToaThuoc] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [pk_CTDT] PRIMARY KEY CLUSTERED 
(
	[maThuoc] ASC,
	[maToaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_ChiTietDonThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 10. View Chi tiết đơn thuốc (để C# truy vấn)
CREATE VIEW [dbo].[v_ChiTietDonThuoc] AS
SELECT 
    tt.maPKB,
    ct.maToaThuoc,
    ct.maThuoc,
    ct.soLuong,
    tt.ngayKeToa
FROM ToaThuoc tt
JOIN ChiTietDonThuoc ct ON tt.maToaThuoc = ct.maToaThuoc;
GO
/****** Object:  Table [dbo].[ChuanDoan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuanDoan](
	[maBenh] [int] NOT NULL,
	[maPKB] [int] NOT NULL,
	[tenChuanDoan] [nvarchar](255) NULL,
 CONSTRAINT [pk_ChuanDoan] PRIMARY KEY CLUSTERED 
(
	[maBenh] ASC,
	[maPKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachChuanDoan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 11. View Danh sách chuẩn đoán
CREATE VIEW [dbo].[v_DanhSachChuanDoan] AS
SELECT maBenh, maPKB, tenChuanDoan FROM ChuanDoan;
GO
/****** Object:  Table [dbo].[PhieuKhamBenh]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKhamBenh](
	[maPKB] [int] IDENTITY(1,1) NOT NULL,
	[ngayKham] [date] NULL,
	[trieuChung] [nvarchar](255) NULL,
	[maBenhNhan] [int] NULL,
	[maTaiKhoan] [int] NULL,
	[ngayTaiKham] [date] NULL,
	[DaGuiMail] [bit] NOT NULL,
 CONSTRAINT [pk_PhieuKhamBenh] PRIMARY KEY CLUSTERED 
(
	[maPKB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thuoc](
	[maThuoc] [int] IDENTITY(1,1) NOT NULL,
	[tenThuoc] [nvarchar](50) NOT NULL,
	[donGia] [float] NOT NULL,
	[maCachDung] [int] NOT NULL,
	[maDonVi] [int] NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [pk_Thuoc] PRIMARY KEY CLUSTERED 
(
	[maThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TenThuoc] UNIQUE NONCLUSTERED 
(
	[tenThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[ngayLapHoaDon] [date] NULL,
	[tienThuoc] [float] NULL,
	[tienKham] [float] NULL,
	[tongTien] [float] NULL,
	[ngayTaiKham] [date] NULL,
	[maPKB] [int] NULL,
	[maTaiKhoan] [int] NULL,
 CONSTRAINT [pk_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[f_LichSuKhamBenh]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Hàm lấy lịch sử khám bệnh (Table-Valued Function)
-- Trả về: Lịch sử khám, tên thuốc đã kê, tổng chi phí
CREATE FUNCTION [dbo].[f_LichSuKhamBenh] (@maBenhNhan INT)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        pkb.maPKB,
        pkb.ngayKham,
        pkb.trieuChung,
        STRING_AGG(th.tenThuoc, ', ') AS ToaThuoc,
        (dbo.f_TinhTienThuoc(pkb.maPKB) + ISNULL(hd.tienKham, 0)) AS TongChiPhi
    FROM PhieuKhamBenh pkb
    LEFT JOIN ToaThuoc tt ON pkb.maPKB = tt.maPKB
    LEFT JOIN ChiTietDonThuoc ctdt ON tt.maToaThuoc = ctdt.maToaThuoc
    LEFT JOIN Thuoc th ON ctdt.maThuoc = th.maThuoc
    LEFT JOIN HoaDon hd ON pkb.maPKB = hd.maPKB
    WHERE pkb.maBenhNhan = @maBenhNhan
    GROUP BY pkb.maPKB, pkb.ngayKham, pkb.trieuChung, hd.tienKham
);
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[maRole] [int] IDENTITY(1,1) NOT NULL,
	[tenRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_Roles] PRIMARY KEY CLUSTERED 
(
	[maRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[passWord] [nvarchar](255) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[maRole] [int] NULL,
 CONSTRAINT [pk_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[maTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_Username] UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachTaiKhoan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DanhSachTaiKhoan] AS
SELECT 
    tk.maTaiKhoan,
    tk.userName,
    tk.passWord, -- Thêm cột này
    tk.name,
    tk.maRole,
    r.tenRole
FROM TaiKhoan tk
LEFT JOIN Roles r ON tk.maRole = r.maRole;
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[maBenhNhan] [int] IDENTITY(1,1) NOT NULL,
	[tenBenhNhan] [nvarchar](50) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[CCCD] [nvarchar](12) NOT NULL,
	[gioiTinh] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [pk_BenhNhan] PRIMARY KEY CLUSTERED 
(
	[maBenhNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachBenhNhan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. View Danh sách bệnh nhân (Chỉ lấy người chưa bị xóa)
CREATE VIEW [dbo].[v_DanhSachBenhNhan] AS
SELECT 
    maBenhNhan,
    tenBenhNhan,
    ngaySinh,
    diaChi,
    CCCD,
    gioiTinh,
    email
FROM BenhNhan
WHERE isDeleted = 0;
GO
/****** Object:  Table [dbo].[Benh]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benh](
	[maBenh] [int] IDENTITY(1,1) NOT NULL,
	[tenBenh] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_Benh] PRIMARY KEY CLUSTERED 
(
	[maBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TenBenh] UNIQUE NONCLUSTERED 
(
	[tenBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachBenh]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. View Danh sách bệnh
CREATE VIEW [dbo].[v_DanhSachBenh] AS
SELECT 
    maBenh,
    tenBenh
FROM Benh;
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[maDonVi] [int] IDENTITY(1,1) NOT NULL,
	[tenDonVi] [nvarchar](20) NOT NULL,
 CONSTRAINT [pk_DonVi] PRIMARY KEY CLUSTERED 
(
	[maDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TenDonVi] UNIQUE NONCLUSTERED 
(
	[tenDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CachDung]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CachDung](
	[maCachDung] [int] IDENTITY(1,1) NOT NULL,
	[tenCachDung] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_CachDung] PRIMARY KEY CLUSTERED 
(
	[maCachDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TenCachDung] UNIQUE NONCLUSTERED 
(
	[tenCachDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. View Danh sách thuốc (JOIN tên đơn vị và cách dùng)
CREATE VIEW [dbo].[v_DanhSachThuoc] AS
SELECT 
    t.maThuoc,
    t.tenThuoc,
    t.donGia,
    t.soLuong,
    t.maDonVi,
    t.maCachDung,
    dv.tenDonVi,
    cd.tenCachDung
FROM Thuoc t
JOIN DonVi dv ON t.maDonVi = dv.maDonVi
JOIN CachDung cd ON t.maCachDung = cd.maCachDung;
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [int] IDENTITY(1,1) NOT NULL,
	[tenDichVu] [nvarchar](50) NOT NULL,
	[tienDichVu] [float] NOT NULL,
 CONSTRAINT [pk_DichVu] PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_TenDichVu] UNIQUE NONCLUSTERED 
(
	[tenDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachDichVu]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. View Danh sách dịch vụ
CREATE VIEW [dbo].[v_DanhSachDichVu] AS
SELECT 
    maDichVu,
    tenDichVu,
    tienDichVu
FROM DichVu;
GO
/****** Object:  Table [dbo].[LichHen]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHen](
	[maLichHen] [int] IDENTITY(1,1) NOT NULL,
	[ngayHen] [datetime2](7) NOT NULL,
	[maTaiKhoan] [int] NULL,
	[maBenhNhan] [int] NULL,
	[maDieuDuong] [int] NULL,
	[trangThai] [nvarchar](30) NULL,
 CONSTRAINT [pk_LichHen] PRIMARY KEY CLUSTERED 
(
	[maLichHen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_DanhSachLichHen]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. View Danh sách lịch hẹn
CREATE VIEW [dbo].[v_DanhSachLichHen] AS
SELECT 
    lh.maLichHen,
    lh.ngayHen,
    lh.maBenhNhan,
    lh.maTaiKhoan,
    lh.maDieuDuong,
    bn.tenBenhNhan,
    tk1.name AS tenBacSi,
    tk2.name AS tenDieuDuong,
    lh.trangThai
FROM LichHen lh
JOIN BenhNhan bn ON lh.maBenhNhan = bn.maBenhNhan
LEFT JOIN TaiKhoan tk1 ON lh.maTaiKhoan = tk1.maTaiKhoan
LEFT JOIN TaiKhoan tk2 ON lh.maDieuDuong = tk2.maTaiKhoan;
GO
/****** Object:  View [dbo].[v_ChiTietPhieuKham]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. View Chi tiết phiếu khám
CREATE VIEW [dbo].[v_ChiTietPhieuKham] AS
SELECT 
    pkb.maPKB,
    pkb.ngayKham,
    pkb.trieuChung,
    pkb.maBenhNhan,
    pkb.maTaiKhoan,
    bn.tenBenhNhan,
    tk.name AS tenBacSi,
    pkb.ngayTaiKham
FROM PhieuKhamBenh pkb
JOIN BenhNhan bn ON pkb.maBenhNhan = bn.maBenhNhan
JOIN TaiKhoan tk ON pkb.maTaiKhoan = tk.maTaiKhoan;
GO
/****** Object:  View [dbo].[v_DanhSachHoaDon]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DanhSachHoaDon]
AS
SELECT
    hd.maHoaDon,
    hd.maPKB,
    hd.maTaiKhoan,
    hd.ngayLapHoaDon,
    hd.tienThuoc,
    hd.tienKham,
    hd.tongTien,
    bn.tenBenhNhan AS tenBenhNhan,
    tk.name AS tenNhanVienThuNgan
FROM HoaDon hd
INNER JOIN PhieuKhamBenh pkb
    ON hd.maPKB = pkb.maPKB
INNER JOIN BenhNhan bn
    ON pkb.maBenhNhan = bn.maBenhNhan
INNER JOIN TaiKhoan tk
    ON hd.maTaiKhoan = tk.maTaiKhoan
GO
/****** Object:  View [dbo].[v_DanhSachDonVi]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9. View Danh mục phụ
CREATE VIEW [dbo].[v_DanhSachDonVi] AS
SELECT maDonVi, tenDonVi FROM DonVi;
GO
/****** Object:  View [dbo].[v_DanhSachCachDung]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DanhSachCachDung] AS
SELECT maCachDung, tenCachDung FROM CachDung;
GO
/****** Object:  View [dbo].[v_DanhSachRoles]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_DanhSachRoles] AS
SELECT maRole, tenRole FROM Roles;
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[logID] [int] IDENTITY(1,1) NOT NULL,
	[ngayThaoTac] [datetime] NULL,
	[maTaiKhoan] [int] NULL,
	[hanhDong] [nvarchar](50) NULL,
	[chiTiet] [nvarchar](255) NULL,
 CONSTRAINT [pk_AuditLog] PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [ngayThaoTac]
GO
ALTER TABLE [dbo].[BenhNhan] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ngayLapHoaDon]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tienThuoc]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tienKham]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tongTien]
GO
ALTER TABLE [dbo].[LichHen] ADD  DEFAULT (N'Chờ khám') FOR [trangThai]
GO
ALTER TABLE [dbo].[PhieuKhamBenh] ADD  DEFAULT (getdate()) FOR [ngayKham]
GO
ALTER TABLE [dbo].[PhieuKhamBenh] ADD  DEFAULT ((0)) FOR [DaGuiMail]
GO
ALTER TABLE [dbo].[Thuoc] ADD  DEFAULT ((0)) FOR [soLuong]
GO
ALTER TABLE [dbo].[ToaThuoc] ADD  DEFAULT (getdate()) FOR [ngayKeToa]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD  CONSTRAINT [fk_TaiKhoan_Audit] FOREIGN KEY([maTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([maTaiKhoan])
GO
ALTER TABLE [dbo].[AuditLog] CHECK CONSTRAINT [fk_TaiKhoan_Audit]
GO
ALTER TABLE [dbo].[ChiTietDonThuoc]  WITH CHECK ADD  CONSTRAINT [fk_Thuoc_CTDT] FOREIGN KEY([maThuoc])
REFERENCES [dbo].[Thuoc] ([maThuoc])
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] CHECK CONSTRAINT [fk_Thuoc_CTDT]
GO
ALTER TABLE [dbo].[ChiTietDonThuoc]  WITH CHECK ADD  CONSTRAINT [fk_ToaThuoc_CTDT] FOREIGN KEY([maToaThuoc])
REFERENCES [dbo].[ToaThuoc] ([maToaThuoc])
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] CHECK CONSTRAINT [fk_ToaThuoc_CTDT]
GO
ALTER TABLE [dbo].[ChuanDoan]  WITH CHECK ADD  CONSTRAINT [fk_Benh_ChuanDoan] FOREIGN KEY([maBenh])
REFERENCES [dbo].[Benh] ([maBenh])
GO
ALTER TABLE [dbo].[ChuanDoan] CHECK CONSTRAINT [fk_Benh_ChuanDoan]
GO
ALTER TABLE [dbo].[ChuanDoan]  WITH CHECK ADD  CONSTRAINT [fk_PKB_ChuanDoan] FOREIGN KEY([maPKB])
REFERENCES [dbo].[PhieuKhamBenh] ([maPKB])
GO
ALTER TABLE [dbo].[ChuanDoan] CHECK CONSTRAINT [fk_PKB_ChuanDoan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [fk_PKB_HoaDon] FOREIGN KEY([maPKB])
REFERENCES [dbo].[PhieuKhamBenh] ([maPKB])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [fk_PKB_HoaDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [fk_TaiKhoan_HoaDon] FOREIGN KEY([maTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([maTaiKhoan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [fk_TaiKhoan_HoaDon]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [fk_LichHen_BacSi] FOREIGN KEY([maTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([maTaiKhoan])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [fk_LichHen_BacSi]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [fk_LichHen_BenhNhan] FOREIGN KEY([maBenhNhan])
REFERENCES [dbo].[BenhNhan] ([maBenhNhan])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [fk_LichHen_BenhNhan]
GO
ALTER TABLE [dbo].[LichHen]  WITH CHECK ADD  CONSTRAINT [fk_LichHen_DieuDuong] FOREIGN KEY([maDieuDuong])
REFERENCES [dbo].[TaiKhoan] ([maTaiKhoan])
GO
ALTER TABLE [dbo].[LichHen] CHECK CONSTRAINT [fk_LichHen_DieuDuong]
GO
ALTER TABLE [dbo].[PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [fk_BenhNhan_PKB] FOREIGN KEY([maBenhNhan])
REFERENCES [dbo].[BenhNhan] ([maBenhNhan])
GO
ALTER TABLE [dbo].[PhieuKhamBenh] CHECK CONSTRAINT [fk_BenhNhan_PKB]
GO
ALTER TABLE [dbo].[PhieuKhamBenh]  WITH CHECK ADD  CONSTRAINT [fk_TaiKhoan_PKB] FOREIGN KEY([maTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([maTaiKhoan])
GO
ALTER TABLE [dbo].[PhieuKhamBenh] CHECK CONSTRAINT [fk_TaiKhoan_PKB]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [fk_Roles_TaiKhoan] FOREIGN KEY([maRole])
REFERENCES [dbo].[Roles] ([maRole])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [fk_Roles_TaiKhoan]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [fk_CachDung_Thuoc] FOREIGN KEY([maCachDung])
REFERENCES [dbo].[CachDung] ([maCachDung])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [fk_CachDung_Thuoc]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [fk_DonVi_Thuoc] FOREIGN KEY([maDonVi])
REFERENCES [dbo].[DonVi] ([maDonVi])
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [fk_DonVi_Thuoc]
GO
ALTER TABLE [dbo].[ToaThuoc]  WITH CHECK ADD  CONSTRAINT [fk_PKB_ToaThuoc] FOREIGN KEY([maPKB])
REFERENCES [dbo].[PhieuKhamBenh] ([maPKB])
GO
ALTER TABLE [dbo].[ToaThuoc] CHECK CONSTRAINT [fk_PKB_ToaThuoc]
GO
ALTER TABLE [dbo].[ChiTietDonThuoc]  WITH CHECK ADD  CONSTRAINT [chk_SoLuongKe] CHECK  (([soLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] CHECK CONSTRAINT [chk_SoLuongKe]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [chk_TienDichVu] CHECK  (([tienDichVu]>=(0)))
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [chk_TienDichVu]
GO
ALTER TABLE [dbo].[Thuoc]  WITH CHECK ADD  CONSTRAINT [chk_SoLuongThuoc] CHECK  (([soLuong]>=(0)))
GO
ALTER TABLE [dbo].[Thuoc] CHECK CONSTRAINT [chk_SoLuongThuoc]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoSuDungThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9.3 Báo cáo sử dụng thuốc theo tháng
CREATE PROCEDURE [dbo].[sp_BaoCaoSuDungThuoc]
    @month INT,
    @year INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TH.maThuoc, TH.tenThuoc, SUM(KT.soLuong) AS soLuong 
    FROM ToaThuoc T 
    JOIN ChiTietDonThuoc KT ON T.maToaThuoc = KT.maToaThuoc 
    JOIN Thuoc TH ON KT.maThuoc = TH.maThuoc 
    WHERE MONTH(T.ngayKeToa) = @month AND YEAR(T.ngayKeToa) = @year 
    GROUP BY TH.maThuoc, TH.tenThuoc;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatDaGuiMail]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------------------------
-- 9. KHÁC
-------------------------------------------------------------------------------

-- 9.1 Cập nhật trạng thái gửi mail
CREATE PROCEDURE [dbo].[sp_CapNhatDaGuiMail]
    @maPKB INT,
    @daGui BIT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE PhieuKhamBenh SET DaGuiMail = @daGui WHERE maPKB = @maPKB;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTrangThaiLichHen]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5.2 Cập nhật trạng thái lịch hẹn
CREATE PROCEDURE [dbo].[sp_CapNhatTrangThaiLichHen]
    @maLichHen INT,
    @trangThaiMoi NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE LichHen SET trangThai = @trangThaiMoi WHERE maLichHen = @maLichHen;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DemSoLanKeThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9.4 Đếm số lần kê thuốc trong tháng
CREATE PROCEDURE [dbo].[sp_DemSoLanKeThuoc]
    @mathuoc INT,
    @month INT,
    @year INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT COUNT(KT.maToaThuoc) AS SLD 
    FROM ToaThuoc T 
    JOIN ChiTietDonThuoc KT ON T.maToaThuoc = KT.maToaThuoc 
    WHERE MONTH(T.ngayKeToa) = @month AND YEAR(T.ngayKeToa) = @year AND KT.maThuoc = @mathuoc;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KeThuocVaoDon]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.3 Kê thuốc vào đơn
CREATE PROCEDURE [dbo].[sp_KeThuocVaoDon]
    @maThuoc INT,
    @maToaThuoc INT,
    @soLuong INT
AS
BEGIN
    SET NOCOUNT ON;
    -- Trigger trg_CapNhatSoLuongThuocTrongKho sẽ xử lý trừ kho và kiểm tra âm kho
    INSERT INTO ChiTietDonThuoc (maThuoc, maToaThuoc, soLuong)
    VALUES (@maThuoc, @maToaThuoc, @soLuong);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraDangNhap]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------------------------
-- 1. ĐĂNG NHẬP & TÀI KHOẢN
-------------------------------------------------------------------------------

-- 1.1 Kiểm tra đăng nhập
CREATE PROCEDURE [dbo].[sp_KiemTraDangNhap]
    @userName NVARCHAR(50),
    @passWord NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT maTaiKhoan, name, maRole
    FROM TaiKhoan
    WHERE userName = @userName AND passWord = @passWord;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LapHoaDonThanhToan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------------------------
-- 7. HÓA ĐƠN (Sử dụng TRANSACTION & FUNCTION)
-------------------------------------------------------------------------------

-- 7.1 Lập hóa đơn thanh toán
CREATE PROCEDURE [dbo].[sp_LapHoaDonThanhToan]
    @maPKB INT,
    @maTaiKhoan INT -- Thu ngân
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Tính tiền thuốc bằng Function
        DECLARE @tienThuoc FLOAT = dbo.f_TinhTienThuoc(@maPKB);
        
        -- 2. Lấy tiền khám từ bảng DichVu
        DECLARE @tienKham FLOAT;
        SELECT @tienKham = tienDichVu FROM DichVu WHERE tenDichVu = N'Khám bệnh';
        IF @tienKham IS NULL SET @tienKham = 50000;
        
        DECLARE @tongTien FLOAT = @tienThuoc + @tienKham;
        
        DECLARE @ngayTaiKham DATE;
        SELECT @ngayTaiKham = ngayTaiKham FROM PhieuKhamBenh WHERE maPKB = @maPKB;
        
        -- 3. Tạo hóa đơn
        INSERT INTO HoaDon (ngayLapHoaDon, tienThuoc, tienKham, tongTien, ngayTaiKham, maPKB, maTaiKhoan)
        VALUES (GETDATE(), @tienThuoc, @tienKham, @tongTien, @ngayTaiKham, @maPKB, @maTaiKhoan);
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaBenh]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3.2 Sửa bệnh
CREATE PROCEDURE [dbo].[sp_SuaBenh]
    @maBenh INT,
    @tenBenh NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Benh SET tenBenh = @tenBenh WHERE maBenh = @maBenh;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaBenhNhan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2.2 Sửa bệnh nhân
CREATE PROCEDURE [dbo].[sp_SuaBenhNhan]
    @maBenhNhan INT,
    @tenBenhNhan NVARCHAR(50),
    @ngaySinh DATE,
    @diaChi NVARCHAR(50),
    @gioiTinh NVARCHAR(50),
    @CCCD NVARCHAR(12),
    @email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE BenhNhan
    SET tenBenhNhan = @tenBenhNhan,
        ngaySinh = @ngaySinh,
        diaChi = @diaChi,
        gioiTinh = @gioiTinh,
        CCCD = @CCCD,
        email = @email
    WHERE maBenhNhan = @maBenhNhan AND isDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaDichVu]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8.2 Sửa dịch vụ
CREATE PROCEDURE [dbo].[sp_SuaDichVu]
    @maDichVu INT,
    @tenDichVu NVARCHAR(50),
    @tienDichVu FLOAT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE DichVu SET tenDichVu = @tenDichVu, tienDichVu = @tienDichVu WHERE maDichVu = @maDichVu;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaTaiKhoan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SuaTaiKhoan]
    @maTaiKhoan INT,
    @username NVARCHAR(50),
    @passWord NVARCHAR(255),
    @name NVARCHAR(50),
    @maRole INT
AS
BEGIN
    UPDATE TaiKhoan
    SET
        username = @username,
        passWord = @passWord,
        name = @name,
        maRole = @maRole
    WHERE maTaiKhoan = @maTaiKhoan
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4.2 Sửa thuốc
CREATE PROCEDURE [dbo].[sp_SuaThuoc]
    @maThuoc INT,
    @tenThuoc NVARCHAR(50),
    @donGia FLOAT,
    @maCachDung INT,
    @maDonVi INT,
    @soLuong INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Thuoc
    SET tenThuoc = @tenThuoc,
        donGia = @donGia,
        maCachDung = @maCachDung,
        maDonVi = @maDonVi,
        soLuong = @soLuong
    WHERE maThuoc = @maThuoc;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuKhamVaToaThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------------------------
-- 6. PHIẾU KHÁM & TOA THUỐC (Sử dụng TRANSACTION)
-------------------------------------------------------------------------------

-- 6.1 Tạo phiếu khám và toa thuốc rỗng
CREATE PROCEDURE [dbo].[sp_TaoPhieuKhamVaToaThuoc]
    @trieuChung NVARCHAR(255),
    @maBenhNhan INT,
    @maTaiKhoan INT, -- Bác sĩ
    @ngayTaiKham DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Tạo phiếu khám
        INSERT INTO PhieuKhamBenh (ngayKham, trieuChung, maBenhNhan, maTaiKhoan, ngayTaiKham)
        VALUES (GETDATE(), @trieuChung, @maBenhNhan, @maTaiKhoan, @ngayTaiKham);
        
        DECLARE @newPKB INT = SCOPE_IDENTITY();
        
        -- 2. Tạo toa thuốc rỗng
        INSERT INTO ToaThuoc (ngayKeToa, maPKB)
        VALUES (GETDATE(), @newPKB);
        
        COMMIT TRANSACTION;
        SELECT @newPKB AS NewPKBID;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemBenh]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------------------------
-- 3. QUẢN LÝ BỆNH
-------------------------------------------------------------------------------

-- 3.1 Thêm bệnh
CREATE PROCEDURE [dbo].[sp_ThemBenh]
    @tenBenh NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Benh (tenBenh) VALUES (@tenBenh);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemBenhNhan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------------------------
-- 2. QUẢN LÝ BỆNH NHÂN
-------------------------------------------------------------------------------

-- 2.1 Thêm bệnh nhân
CREATE PROCEDURE [dbo].[sp_ThemBenhNhan]
    @tenBenhNhan NVARCHAR(50),
    @ngaySinh DATE,
    @diaChi NVARCHAR(50),
    @gioiTinh NVARCHAR(50),
    @CCCD NVARCHAR(12),
    @email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM BenhNhan WHERE CCCD = @CCCD)
    BEGIN
        RAISERROR (N'Số CCCD đã tồn tại.', 16, 1);
        RETURN;
    END
    INSERT INTO BenhNhan (tenBenhNhan, ngaySinh, diaChi, gioiTinh, CCCD, email)
    VALUES (@tenBenhNhan, @ngaySinh, @diaChi, @gioiTinh, @CCCD, @email);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemChuanDoan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.2 Thêm chuẩn đoán
CREATE PROCEDURE [dbo].[sp_ThemChuanDoan]
    @maBenh INT,
    @maPKB INT,
    @tenChuanDoan NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO ChuanDoan (maBenh, maPKB, tenChuanDoan)
    VALUES (@maBenh, @maPKB, @tenChuanDoan);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemDichVu]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------------------------
-- 8. QUẢN LÝ DỊCH VỤ
-------------------------------------------------------------------------------

-- 8.1 Thêm dịch vụ
CREATE PROCEDURE [dbo].[sp_ThemDichVu]
    @tenDichVu NVARCHAR(50),
    @tienDichVu FLOAT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO DichVu (tenDichVu, tienDichVu) VALUES (@tenDichVu, @tienDichVu);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemLichHen]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------------------------
-- 5. QUẢN LÝ LỊCH HẸN
-------------------------------------------------------------------------------

-- 5.1 Thêm lịch hẹn
CREATE PROCEDURE [dbo].[sp_ThemLichHen]
    @ngayHen DATETIME2,
    @maTaiKhoan INT,
    @maBenhNhan INT,
    @maDieuDuong INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO LichHen (ngayHen, maTaiKhoan, maBenhNhan, maDieuDuong)
    VALUES (@ngayHen, @maTaiKhoan, @maBenhNhan, @maDieuDuong);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemTaiKhoan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1.2 Thêm tài khoản
CREATE PROCEDURE [dbo].[sp_ThemTaiKhoan]
    @userName NVARCHAR(50),
    @passWord NVARCHAR(255),
    @name NVARCHAR(50),
    @maRole INT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM TaiKhoan WHERE userName = @userName)
    BEGIN
        RAISERROR (N'Tên đăng nhập đã tồn tại.', 16, 1);
        RETURN;
    END
    INSERT INTO TaiKhoan (userName, passWord, name, maRole)
    VALUES (@userName, @passWord, @name, @maRole);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-------------------------------------------------------------------------------
-- 4. QUẢN LÝ THUỐC
-------------------------------------------------------------------------------

-- 4.1 Thêm thuốc
CREATE PROCEDURE [dbo].[sp_ThemThuoc]
    @tenThuoc NVARCHAR(50),
    @donGia FLOAT,
    @maCachDung INT,
    @maDonVi INT,
    @soLuong INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Thuoc (tenThuoc, donGia, maCachDung, maDonVi, soLuong)
    VALUES (@tenThuoc, @donGia, @maCachDung, @maDonVi, @soLuong);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemToaThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9.2 Thêm toa thuốc
CREATE PROCEDURE [dbo].[sp_ThemToaThuoc]
    @ngayKeToa DATE,
    @maPKB INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO ToaThuoc (ngayKeToa, maPKB) VALUES (@ngayKeToa, @maPKB);
    SELECT SCOPE_IDENTITY() AS NewToaThuocID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemBenhNhan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2.4 Tìm kiếm bệnh nhân
CREATE PROCEDURE [dbo].[sp_TimKiemBenhNhan]
    @tuKhoa NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT maBenhNhan, tenBenhNhan, ngaySinh, diaChi, CCCD, gioiTinh, email
    FROM BenhNhan
    WHERE isDeleted = 0 AND (tenBenhNhan LIKE '%' + @tuKhoa + '%' OR CCCD LIKE '%' + @tuKhoa + '%');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaBenh]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3.3 Xóa bệnh
CREATE PROCEDURE [dbo].[sp_XoaBenh]
    @maBenh INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Benh WHERE maBenh = @maBenh;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaBenhNhan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2.3 Xóa bệnh nhân (Soft Delete)
CREATE PROCEDURE [dbo].[sp_XoaBenhNhan]
    @maBenhNhan INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE BenhNhan SET isDeleted = 1 WHERE maBenhNhan = @maBenhNhan;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaDichVu]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8.3 Xóa dịch vụ
CREATE PROCEDURE [dbo].[sp_XoaDichVu]
    @maDichVu INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM DichVu WHERE maDichVu = @maDichVu;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaTaiKhoan]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1.4 Xóa tài khoản (Trigger trg_ChanXoaTaiKhoan sẽ kiểm tra ràng buộc)
CREATE PROCEDURE [dbo].[sp_XoaTaiKhoan]
    @maTaiKhoan INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM TaiKhoan WHERE maTaiKhoan = @maTaiKhoan;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaThuoc]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4.3 Xóa thuốc
CREATE PROCEDURE [dbo].[sp_XoaThuoc]
    @maThuoc INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Thuoc WHERE maThuoc = @maThuoc;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaThuocKhoiDon]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6.4 Xóa thuốc khỏi đơn
CREATE PROCEDURE [dbo].[sp_XoaThuocKhoiDon]
    @maThuoc INT,
    @maToaThuoc INT
AS
BEGIN
    SET NOCOUNT ON;
    -- Trigger trg_HoanTraSoLuongThuoc sẽ tự động cộng lại kho
    DELETE FROM ChiTietDonThuoc WHERE maThuoc = @maThuoc AND maToaThuoc = @maToaThuoc;
END;
GO
/****** Object:  Trigger [dbo].[trg_CapNhatSoLuongThuocTrongKho]    Script Date: 5/18/2026 1:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Trigger Cập nhật số lượng thuốc trong kho khi kê đơn
CREATE TRIGGER [dbo].[trg_CapNhatSoLuongThuocTrongKho]
ON [dbo].[ChiTietDonThuoc]
AFTER INSERT
AS
BEGIN
    -- Kiểm tra xem có đủ thuốc không
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN Thuoc t ON i.maThuoc = t.maThuoc
        WHERE t.soLuong < i.soLuong
    )
    BEGIN
        RAISERROR (N'Không đủ số lượng thuốc trong kho!', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    -- Trừ kho
    UPDATE t
    SET t.soLuong = t.soLuong - i.soLuong
    FROM Thuoc t
    JOIN inserted i ON t.maThuoc = i.maThuoc;
END;
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] ENABLE TRIGGER [trg_CapNhatSoLuongThuocTrongKho]
GO
/****** Object:  Trigger [dbo].[trg_HoanTraSoLuongThuoc]    Script Date: 5/18/2026 1:25:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Trigger Hoàn trả số lượng thuốc khi xóa thuốc khỏi đơn
CREATE TRIGGER [dbo].[trg_HoanTraSoLuongThuoc]
ON [dbo].[ChiTietDonThuoc]
AFTER DELETE
AS
BEGIN
    -- Cộng lại kho
    UPDATE t
    SET t.soLuong = t.soLuong + d.soLuong
    FROM Thuoc t
    JOIN deleted d ON t.maThuoc = d.maThuoc;
END;
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] ENABLE TRIGGER [trg_HoanTraSoLuongThuoc]
GO
/****** Object:  Trigger [dbo].[trg_KiemTraNgayDatLich]    Script Date: 5/18/2026 1:25:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_KiemTraNgayDatLich]
ON [dbo].[LichHen]
AFTER INSERT, UPDATE
AS
BEGIN
    -- Chỉ kiểm tra khi NgayHen bị thay đổi (INSERT hoặc UPDATE cột NgayHen)
    -- Không chặn khi chỉ update trangThai
    IF UPDATE(ngayHen)  
    BEGIN
        IF EXISTS (
            SELECT 1 FROM inserted 
            WHERE CAST(ngayHen AS DATE) < CAST(GETDATE() AS DATE)
        )
        BEGIN
            RAISERROR(N'Không thể đặt lịch hẹn trong quá khứ.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END
    END
END;
GO
ALTER TABLE [dbo].[LichHen] ENABLE TRIGGER [trg_KiemTraNgayDatLich]
GO
/****** Object:  Trigger [dbo].[trg_ChanXoaTaiKhoan]    Script Date: 5/18/2026 1:25:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Trigger Không cho xóa tài khoản nếu đã phát sinh lịch sử khám/hóa đơn
CREATE TRIGGER [dbo].[trg_ChanXoaTaiKhoan]
ON [dbo].[TaiKhoan]
INSTEAD OF DELETE
AS
BEGIN
    -- Kiểm tra xem tài khoản có nằm trong PhieuKhamBenh hoặc HoaDon không
    IF EXISTS (
        SELECT 1 FROM PhieuKhamBenh WHERE maTaiKhoan IN (SELECT maTaiKhoan FROM deleted)
    ) OR EXISTS (
        SELECT 1 FROM HoaDon WHERE maTaiKhoan IN (SELECT maTaiKhoan FROM deleted)
    )
    BEGIN
        RAISERROR (N'Không thể xóa tài khoản này vì đã có lịch sử khám hoặc hóa đơn.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    -- Nếu không có ràng buộc, tiến hành xóa
    DELETE FROM TaiKhoan WHERE maTaiKhoan IN (SELECT maTaiKhoan FROM deleted);
END;
GO
ALTER TABLE [dbo].[TaiKhoan] ENABLE TRIGGER [trg_ChanXoaTaiKhoan]
GO
